## Datetime is module in that we have 4 labraries-Datetime,date,time,timedelta

# Datetime Class
Datetime handles both date and time

In [1]:
import datetime

In [2]:
x=datetime.datetime.now()
print(x)

2025-05-27 22:55:25.265647

In [3]:
y=datetime.datetime.utcnow()
print(y)

2025-05-27 17:25:25.272812

In [4]:
#how to create own date
#z=datetime.datetime(year,month,date,hour,minute,seconds)
z=datetime.datetime(2025,11,24,6,6,6)
print(z)

2025-11-24 06:06:06

In [5]:
print(z.year,"\n",z.month,"\n",z.day,"\n",z.hour,"\n",z.minute,'\n',z.second)

2025
 11
 24
 6
 6
 6

In [6]:
#1. What is the current time?
x=datetime.datetime.now()
print(x.hour)

22

In [7]:
#what is todays date??
today=datetime.datetime.now()
today

datetime.datetime(2025, 5, 27, 22, 55, 25, 297363)

In [8]:
today=datetime.datetime.today()
today

datetime.datetime(2025, 5, 27, 22, 55, 25, 307421)

In [9]:
"""what is the difference between datetime.now() and datetime.today()????
datetime.now() support time zone info but datetime.today() will not support time zone infor if you pass time zone info"""

'what is the difference between datetime.now() and datetime.today()????\ndatetime.now() support time zone info but datetime.today() will not support time zone infor if you pass time zone info'

In [10]:
#what is the date? only date created using datetime class
onlydate="-".join([str(today.day),str(today.month),str(today.year)])
onlydate

'27-5-2025'

# Date class

#date calss will give only date
#To return the current local date today() function of the date class is used. today() function comes with several attributes (year, month, and day).

In [11]:
import datetime
today=datetime.date.today()
print("todays date", today)

todays date 2025-05-27

In [12]:
print("min date", datetime.date.min)

min date 0001-01-01

In [13]:
print(today.day,"\n",today.month,"\n",today.year)

27
 5
 2025

In [14]:
##We can convert date object to a string representation using two functions isoformat() and strftime().

In [15]:
date_in_str=datetime.date.isoformat(today)# isoformat will return only "YYYY-MM-DD" format
date_in_str

'2025-05-27'

In [16]:
date_in_str1=datetime.date.today().strftime("%Y-%m-%d")
date_in_str1

'2025-05-27'

In [17]:
#%A-Monday #%a-Mon, #%B-November #%b-Nov #j-Day of the year #%W- Week number %I-time %p-AM/PM
date_in_str2=datetime.datetime(2025,11,23,6,10,10).strftime("%V")
date_in_str2

'47'

In [18]:
##We can convert date object to a string representation using two functions isoformat() and strftime().
#sting to time 
import datetime
today='2025-11-24' ##this shold be in 'YYYY-MM-DD' format only
today1=datetime.date.fromisoformat(today)
today1

t1='2025/11/24 06:10:50'
t1=datetime.datetime.strptime(t1,"%Y/%m/%d %H:%M:%S")
t1

datetime.datetime(2025, 11, 24, 6, 10, 50)

# TIme Class

In [19]:
#time function without argument
my_time=datetime.time()
my_time

datetime.time(0, 0)

In [20]:
#with all arguments
my_time=datetime.time(hour=23,minute=50,second=40)
my_time

datetime.time(23, 50, 40)

In [21]:
#with only one argument
my_time=datetime.time(second=40)
my_time

datetime.time(0, 0, 40)

In [22]:
today=datetime.datetime.today().time()
today

datetime.time(22, 55, 25, 396197)

In [23]:
now=datetime.datetime.now().time()
now

datetime.time(22, 55, 25, 402370)

In [24]:
print(now.hour,"\n",now.minute,"\n",now.second)

22
 55
 25

# Min and Max Functions

Datetime class

In [25]:
#datetime min and max
mindatetime=datetime.datetime.min
print("Min DateTime supported", mindatetime)
maxdatetime=datetime.datetime.max
print("Max DateTime supported", maxdatetime)

Min DateTime supported 0001-01-01 00:00:00
Max DateTime supported 9999-12-31 23:59:59.999999

Date class

In [26]:
today=datetime.date.today()
print("mindate",today.min)
print("maxdate",today.max)

mindate 0001-01-01
maxdate 9999-12-31

Time calss

In [27]:
#min and max time
print("min time:",datetime.time.min)
print("max time:",datetime.time.max)

min time: 00:00:00
max time: 23:59:59.999999

# Ctime()

"""The ctime() function is used to return a string containing the date and time.
Syntax: ctime()
Parameters: This function does not accept any parameter.
Return values: This function returns a string containing the date and time.
The format of the string representation:

The string is of 24-character length.
Week is printed as a three-letter word.
Sun, Mo, Tue, Wed, Thu, Fri, Sat
Months are represented as three-digit letters
Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec
The day of the month is represented as a two-digit number
Time is represented in HH:MM:SS format
The year is a 4 digit number"""

Datetime class

In [28]:
#Ex1
import datetime
today=datetime.date.today()
con=today.ctime()
print(con)
#Ex2
today1=datetime.datetime.today()
co=today1.ctime()
print(co)

Tue May 27 00:00:00 2025
Tue May 27 22:55:25 2025

Date class

In [29]:
import datetime
today1=datetime.date.today()
con1=today1.ctime()
con1

'Tue May 27 00:00:00 2025'

Time class

In [30]:
import datetime
today=datetime.time()
con2=today.ctime()

AttributeError: 'datetime.time' object has no attribute 'ctime'

# fromtimestamp()

1.We can create date objects from timestamps y=using the fromtimestamp() method. 

2.The timestamp is the number of seconds from 1st January 1970 at UTC to a particular date.

Datetime class

In [31]:
date_time = datetime.datetime.fromtimestamp(0)
print("Datetime std timestamp:", date_time)
import time
x=time.time()
print(x)
date_time = datetime.datetime.fromtimestamp(x)
print("Datetime from timestamp:", date_time)

Datetime std timestamp: 1970-01-01 05:30:00
1748366763.165565
Datetime from timestamp: 2025-05-27 22:56:03.165565

Date Class

In [32]:
datime=datetime.date.fromtimestamp(0)
print(datime)
import time
x=time.time()
datime1=datetime.date.fromtimestamp(x)
print(datime1)

1970-01-01
2025-05-27

Time Class

In [33]:
t_1=datetime.time().fromtimestamp(0)
print(t_1)

AttributeError: 'datetime.time' object has no attribute 'fromtimestamp'

# isocalendar()

Syntax: isocalendar()

Parameters: This function does not accept any parameter.

Return values: This function returns a tuple of ISO Year, ISO Week Number and ISO Weekday. Monday is 1 and sumday is 7

Datetime class

In [34]:
d1=datetime.datetime.today().isocalendar()
print(d1)
d2=datetime.datetime.now().isocalendar()
print(d2)
d3=datetime.datetime(year=2025,month=1,day=19).isocalendar()
print(d3)
d4=datetime.datetime(2025,11,24).isocalendar()
print(d4)

datetime.IsoCalendarDate(year=2025, week=22, weekday=2)
datetime.IsoCalendarDate(year=2025, week=22, weekday=2)
datetime.IsoCalendarDate(year=2025, week=3, weekday=7)
datetime.IsoCalendarDate(year=2025, week=48, weekday=1)

Date Class

In [35]:
d1=datetime.date.today().isocalendar()
print(d1)
d2=datetime.date(2025,12,1).isocalendar()
print(d2)

datetime.IsoCalendarDate(year=2025, week=22, weekday=2)
datetime.IsoCalendarDate(year=2025, week=49, weekday=1)

Time class

In [36]:
d1=datetime.time().isocalendar()
print(d1)

AttributeError: 'datetime.time' object has no attribute 'isocalendar'

# isoformat()

The standard ISO 8601 format is all about date formats for the Gregorian calendar. This format prescribes that a calendar date needs to be represented using a 4-digit year followed by a two-digit month and a two-digit date. i.e., YYYY-MM-DD. Example: 2020-01-01.
    Syntax: isoformat(sep=’T’, timespec=’auto’)


Parameters: This function accepts two parameters which are illustrated below:


sep: It is the separator character that is to be printed between the date and time fields. It is an Optional Parameter having default value of “T”.

timespec: It is the format specifier for the timespec. It is also an Optional Parameter with a default value of “auto”.

Datetime class

In [37]:
d1=datetime.datetime.today().isoformat()
print(d1)
d2=datetime.datetime.now().isoformat()
print(d2)
d3=datetime.datetime(2024,11,24).isoformat()
print(d3)

2025-05-27T22:56:48.884568
2025-05-27T22:56:48.885100
2024-11-24T00:00:00

Date Class

In [38]:
d1=datetime.date.today().isoformat()
print(d1)
d2=datetime.date(2025,12,1)
print(d2)

2025-05-27
2025-12-01

Time class

In [39]:
d1=datetime.time().isoformat()
print(d1)
d2=datetime.time(hour=22,second=50).isoformat()
print(d2)

00:00:00
22:00:50

# fromisoformat

The fromisoformat() function is used to constructs a date object from a specified string that contains a date in ISO format. i.e., yyyy-mm-dd.

Datetime class

In [40]:
str1='2024-11-24 22:10:57' ##it shoulbe YYYY-MM-DD HH:MM:DD, it accept if date only given, but if only time given it will through an error
d1=datetime.datetime.fromisoformat(str1)
print("string format of the date %s"%str1)
print(type(str1))
print("converting into ISO date format %s"%d1)
print(type(d1))

string format of the date 2024-11-24 22:10:57
<class 'str'>
converting into ISO date format 2024-11-24 22:10:57
<class 'datetime.datetime'>

Date Class

In [41]:
str2="2024-12-01" #2024-11-24 00:15:15" it will nthrough error, it shoulbe only YYYY-MM-DD
d1=datetime.date.fromisoformat(str2)
print("string format of the date %s"%str1)
print(type(str1))
print("converting into ISO date format %s"%d1)
print(type(d1))

string format of the date 2024-11-24 22:10:57
<class 'str'>
converting into ISO date format 2024-12-01
<class 'datetime.date'>

Time Class

In [42]:
str3="21:17:18" #2024-11-24 00:15:15" it will through error, it shoulbe only HH:MM:DD
d1=datetime.time.fromisoformat(str3)
print("string format of the date %s"%str3)
print(type(str1))
print("converting into ISO date format %s"%d1)
print(type(d1))

string format of the date 21:17:18
<class 'str'>
converting into ISO date format 21:17:18
<class 'datetime.time'>

# fromordinal() and toordinal()

The fromordinal() function is used to return the Gregorian date corresponding to a specified Gregorian ordinal. This is the opposite of the toordinal() function that is used to convert a Gregorian date to a Gregorian ordinal.

#Gregorian date=0001-01-01

Datetime class

In [43]:
d1=datetime.datetime.today().toordinal()
print("todays date as ordinal %s"%d1)
d1=datetime.datetime.now().toordinal()
print("todays date as ordinal %s"%d1)
d2=datetime.datetime.fromordinal(739265)
print("todays date from ordinal %s"%d2)

todays date as ordinal 739398
todays date as ordinal 739398
todays date from ordinal 2025-01-14 00:00:00

Date Class

In [44]:
d1=datetime.date.today().toordinal()
print("todays date as ordinal %s"%d1)
d2=datetime.date.fromordinal(739265)
print("todays date from ordinal %s"%d2)

todays date as ordinal 739398
todays date from ordinal 2025-01-14

Time class

In [45]:
d1=datetime.time().toordinal()

AttributeError: 'datetime.time' object has no attribute 'toordinal'

# weekday() and isoweekday()
1. It does not accept any parameter 

2. weekday() fuction consider monday as 0 and sunday as 6

3.isoweekday() function consider monday as 1 and sunday as 7

datetime class

In [46]:
d1=datetime.datetime.today().weekday() # today is 2024-01-15
print(d1)
d2=datetime.datetime.today().isoweekday()# today is 2024-01-15
print(d2)

1
2

Date class

In [47]:
d1=datetime.date.today().weekday() # today is 2024-01-15
print(d1)
d2=datetime.date.today().isoweekday()# today is 2024-01-15
print(d2)

1
2

time class

In [48]:
d1=datetime.time().weekday()

AttributeError: 'datetime.time' object has no attribute 'weekday'

# timetuple()
timetuple() method returns a time.struct time object which is a named tuple

datetime class

In [49]:
d1=datetime.datetime.now().timetuple()
print(d1)

time.struct_time(tm_year=2025, tm_mon=5, tm_mday=27, tm_hour=22, tm_min=57, tm_sec=9, tm_wday=1, tm_yday=147, tm_isdst=-1)

Date class

In [50]:
d1=datetime.date.today().timetuple()
print(d1)

time.struct_time(tm_year=2025, tm_mon=5, tm_mday=27, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=147, tm_isdst=-1)

time class

In [51]:
d1=datetime.time().timetuple()

AttributeError: 'datetime.time' object has no attribute 'timetuple'

# strftime()
this fuction converte dateetime to string
%A-Monday #%a-Mon, #%B-November #%b-Nov #j-Day of tye year #%W- Week number %I-time %p-AM/PM

Datetime class

In [52]:
d1=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(d1)
d2=datetime.datetime.today().strftime("%Y-%m-%d %H:%M:%S")
print(d2)
d3=datetime.datetime.today().strftime("%Y/%m/%d %H:%M:%S")
print(d3)
d3=datetime.datetime.today().strftime("%d %A %Y")
print(d3)
d4=datetime.datetime.today().strftime("%d %a %Y")
print(d4)
d5=datetime.datetime.today().strftime("%d %B %Y")
print(d5)
d6=datetime.datetime.today().strftime("%d %b %Y")
print(d6)
d6=datetime.datetime.today().strftime("%j")
print("day of the year",d6)
d6=datetime.datetime.today().strftime("%I %p")
print("present time",d6)
d6=datetime.datetime.today().strftime("%u")
print("week day",d6)
d6=datetime.datetime.today().strftime("%W")
print("Week Number ",d6)
d7=datetime.datetime(2025,5,26).strftime("%W")
print("Week Number ",d7)

2025-05-27 22:57:20
2025-05-27 22:57:20
2025/05/27 22:57:20
27 Tuesday 2025
27 Tue 2025
27 May 2025
27 May 2025
day of the year 147
present time 10 PM
week day 2
Week Number  21
Week Number  21

date class

In [53]:
d1=datetime.date.today().strftime("%Y-%m-%d %H:%M:%S")
print(d1)

2025-05-27 00:00:00

Time class

In [54]:
d1=datetime.time().strftime("%Y-%m-%d %H:%M:%S")
print(d1)

1900-01-01 00:00:00

# strptime()
This fuction used to convert str format to date format

datetime class

In [55]:
str1="2025-11-24 13:15:25"
d1=datetime.datetime.strptime(str1,"%Y-%m-%d %H:%M:%S")
print(d1)

2025-11-24 13:15:25

Date class

In [56]:
str2="2024/12/10"
d1=datetime.date.strptime(str2,"%Y/%m/%d")
print(d1)

AttributeError: type object 'datetime.date' has no attribute 'strptime'

In [57]:
str2="20:13:14"
d1=datetime.time.strptime(str2,"%H:%M:%S")
print(d1)

AttributeError: type object 'datetime.time' has no attribute 'strptime'

# Timedelta

Timedelta class is used for calculating differences between dates and represents a duration. The difference can both be positive as well as negative.

In [58]:
d1=(datetime.datetime.now()-datetime.timedelta(days=10)).strftime("%Y/%m/%d %H:%M:%S")
d1

'2025/05/17 22:57:27'

In [59]:
d1=datetime.datetime.today()-datetime.timedelta(hours=23)
d1

datetime.datetime(2025, 5, 26, 23, 57, 28, 145784)

In [60]:
d2=datetime.datetime.now()-datetime.timedelta(weeks=1)
d2

datetime.datetime(2025, 5, 20, 22, 57, 28, 454713)

In [61]:
d3=datetime.datetime(2024,11,24)
d4=datetime.datetime(2025,11,24)
diff=d3-d4
diff

datetime.timedelta(days=-365)

In [62]:
# d3=d3+datetime.timedelta(days=365)
d3+=datetime.timedelta(days=4)
d3

datetime.datetime(2024, 11, 28, 0, 0)

In [63]:
d4-+datetime.timedelta(days=365)
d4

datetime.datetime(2025, 11, 24, 0, 0)

# Date Time in Pandas

In [64]:
import pandas as pd
df = pd.DataFrame({
    'start_time': pd.to_datetime(['2025-05-01 08:00', '2025-05-02 09:30']),
    'end_time': pd.to_datetime(['2025-05-01 10:00', '2025-05-02 12:15'])
})

In [65]:
#add today date column
df['rdate']=datetime.datetime.today()
df

           start_time            end_time                      rdate
0 2025-05-01 08:00:00 2025-05-01 10:00:00 2025-05-27 22:57:31.350366
1 2025-05-02 09:30:00 2025-05-02 12:15:00 2025-05-27 22:57:31.350366

In [66]:
#extract year,month,day,hour,minute,seconds from start time
df['year']=df['start_time'].dt.year
df['month']=df['start_time'].dt.month
df['day']=df['start_time'].dt.day
df['hour']=df['start_time'].dt.hour
df['minute']=df['start_time'].dt.minute
df['second']=df['rdate'].dt.second

In [67]:
#converting datetime into string object
df['rdate']=df['rdate'].apply(lambda x:x.strftime('%Y-%m-%d %H:%M:%S'))

In [68]:
#Converting String to date time
df['rdate']=pd.to_datetime(df['rdate'], format="%Y-%m-%d %H:%M:%S")

In [69]:
#addition of two datetime columns
df['buffer2hr10min']=df['rdate']+datetime.timedelta(hours=2,minutes=10)

In [70]:
#Substraction of two datetime columns
df['cutoff']=df['buffer2hr10min']-datetime.timedelta(hours=3,minutes=1,seconds=30)

In [71]:
#calculating Ageing
df['age']=(datetime.datetime.today()-df['end_time']).dt.days

In [72]:
#converting age columns in minutes
df['age_new']=(datetime.datetime.today()-df['end_time']).dt.total_seconds()/60

In [73]:
## Bucketing the minutes
bins=[0,15,30,60,120,float('inf')]
labels=['0-15min','15-30min','30-1Hr','1Hr-2Hrs','>2Hrs']
df['buckets']=pd.cut(df['age_new'],bins=bins,labels=labels)

In [74]:
##genarating date times[ D-daily, W=weekly,M-monthly,15T-Every 15 min,H-hourly,2H-every 2 Hours]
date=pd.date_range(start='2025-05-01', end='2025-05-31', freq='D')
df=pd.DataFrame({'Date':date})

In [75]:
df['prev_date'] = df['Date'].shift(1)

In [76]:
df['next_date'] = df['Date'].shift(-1)

In [77]:
df['next_month']= df['Date']+pd.DateOffset(month=1)

C:\Users\vinod\AppData\Local\Temp\ipykernel_20256\3167291716.py:1: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex.
  df['next_month']= df['Date']+pd.DateOffset(month=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        31 non-null     datetime64[ns]
 1   prev_date   30 non-null     datetime64[ns]
 2   next_date   30 non-null     datetime64[ns]
 3   next_month  31 non-null     datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 1.1 KB

In [79]:
#Filtering by date
df[df['Date']>'2025-05-15']
df[df['Date']<'2025-05-10']

        Date  prev_date  next_date next_month
0 2025-05-01        NaT 2025-05-02 2025-01-01
1 2025-05-02 2025-05-01 2025-05-03 2025-01-02
2 2025-05-03 2025-05-02 2025-05-04 2025-01-03
3 2025-05-04 2025-05-03 2025-05-05 2025-01-04
4 2025-05-05 2025-05-04 2025-05-06 2025-01-05
5 2025-05-06 2025-05-05 2025-05-07 2025-01-06
6 2025-05-07 2025-05-06 2025-05-08 2025-01-07
7 2025-05-08 2025-05-07 2025-05-09 2025-01-08
8 2025-05-09 2025-05-08 2025-05-10 2025-01-09