## Datetime is module in that we have 4 labraries-Datetime,date,time,timedelta

# Datetime Class
##Datetime handles both date and time

In [2]:
import datetime

In [4]:
x=datetime.datetime.now()
print(x)

2025-01-09 13:39:34.490577

In [5]:
y=datetime.datetime.utcnow()
print(y)

2025-01-09 08:09:34.738361

In [6]:
#how to create own date
#z=datetime.datetime(year,month,date,hour,minute,seconds)
z=datetime.datetime(2025,11,24,6,6,6)
print(z)

2025-11-24 06:06:06

In [7]:
print(z.year,"\n",z.month,"\n",z.day,"\n",z.hour,"\n",z.minute,'\n',z.second)

2025
 11
 24
 6
 6
 6

In [16]:
#1. What is the current time?
x=datetime.datetime.now()
print(x.hour)

13

In [32]:
#what is todays date??
today=datetime.datetime.now()
today

datetime.datetime(2025, 1, 9, 20, 29, 22, 393429)

In [31]:
today=datetime.datetime.today()
today

datetime.datetime(2025, 1, 9, 20, 29, 17, 116299)

In [33]:
"""what is the difference between datetime.now() and datetime.today()????
datetime.now() support time zone info but datetime.today() will not support time zone infor if you pass time zone info"""

'what is the difference between datetime.now() and datetime.today()\ndatetime.now() support time zone info but datetime.today() will not support time zone infor if you pass time zone info'

In [27]:
#what is the date? only date created using datetime class
onlydate="-".join([str(today.day),str(today.month),str(today.year)])
onlydate

'9-1-2025'

In [30]:
#datetime min and max
mindatetime=datetime.datetime.min
print("Min DateTime supported", mindatetime)
maxdatetime=datetime.datetime.max
print("Max DateTime supported", mindatetime)

Min DateTime supported 0001-01-01 00:00:00
Max DateTime supported 0001-01-01 00:00:00

In [134]:
##We can create date objects from timestamps y=using the fromtimestamp() method. 
##The timestamp is the number of seconds from 1st January 1970 at UTC to a particular date.
date_time = datetime.datetime.fromtimestamp(0)
print("Datetime std timestamp:", date_time)
x=(365*24*60*60*55)+(24*24*60*60)+(18*60*60)
date_time = datetime.datetime.fromtimestamp(x)
print("Datetime from timestamp:", date_time)

Datetime std timestamp: 1970-01-01 05:30:00
Datetime from timestamp: 2025-01-11 23:30:00

# Date class

In [35]:
#date calss will give only date
#To return the current local date today() function of the date class is used. today() function comes with several attributes (year, month, and day).

In [68]:
import datetime
today=datetime.date.today()
print("todays date", today)

todays date 2025-01-11

In [70]:
print("mindate",today.min)
print("maxdate",today.max)

mindate 0001-01-01
maxdate 9999-12-31

In [24]:
print(today.day,"\n",today.month,"\n",today.year)

11
 1
 2025

In [25]:
##We can convert date object to a string representation using two functions isoformat() and strftime().

In [26]:
date_in_str=datetime.date.isoformat(today)# isoformat will return only "YYYY-MM-DD" format
date_in_str

'2025-01-11'

In [35]:
date_in_str1=datetime.date.today().strftime("%Y-%m-%d")
date_in_str1

'2025-01-11'

In [88]:
#%A-Monday #%a-Mon, #%B-November #%b-Nov #j-Day of tye year #%W- Week number %I-time %p-AM/PM
date_in_str2=datetime.datetime(2025,11,23,6,10,10).strftime("%S")
date_in_str2

'10'

In [122]:
##We can convert date object to a string representation using two functions isoformat() and strftime().
#sting to time 
import datetime
today='2025-11-24' ##this shold be in 'YYYY-MM-DD' format only
today1=datetime.date.fromisoformat(today)
today1

t1='2025/11/24 06:10:50'
t1=datetime.datetime.strptime(t1,"%Y/%m/%d %H:%M:%S")
t1

datetime.datetime(2025, 11, 24, 6, 10, 50)

In [59]:
##weekday() function return week day considering monday as 0 and sunday as 6
weekday_t=today.weekday()
weekday_t

5

In [60]:
##weekday() function return week day considering monday as 1 and sunday as 7
weekday_t1=today.isoweekday()
weekday_t1

6

In [85]:
#ordinal date is 0001-01-01 
print("Date from ordinal", datetime.date.today().fromordinal(1))
print("Date to ordinal", datetime.date.today().toordinal())

Date from ordinal 0001-01-01
Date to ordinal 739262

In [102]:
"""The ctime() function is used to return a string containing the date and time.
Syntax: ctime()
Parameters: This function does not accept any parameter.
Return values: This function returns a string containing the date and time.
The format of the string representation:

The string is of 24-character length.
Week is printed as a three-letter word.
Sun, Mo, Tue, Wed, Thu, Fri, Sat
Months are represented as three-digit letters
Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec
The day of the month is represented as a two-digit number
Time is represented in HH:MM:SS format
The year is a 4 digit number"""
#Ex1
today=datetime.date.today()
con=today.ctime()
con
#Ex2
today1=datetime.datetime.today()
co=today1.ctime()
co

'Sat Jan 11 23:20:08 2025'

In [104]:
#Note %s is substitute for the string and % is used for the operator
#EX1
print("todays date is %s"%co)

todays date is Sat Jan 11 23:20:08 2025

In [106]:
import datetime 
  
# Initializing a date 
Date = "2012-10-12"; 
  
# Calling fromisoformat() function to 
# construct a datetime.date object  
New_date = datetime.date.fromisoformat(Date); 
  
# Printing the new constructed date object 
print("The constructed date object is: %s"%New_date);

The constructed date object is: 2012-10-12

In [140]:
##isocalender() 
today_da=datetime.date.today()
today=datetime.date.today().isocalendar()
print("todays date is ",today_da,"And isocalender is",today)

todays date is  2025-01-11 And isocalender is datetime.IsoCalendarDate(year=2025, week=2, weekday=6)

In [143]:
#timetuple
today_da=datetime.date.today().timetuple()
today_da

time.struct_time(tm_year=2025, tm_mon=1, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=5, tm_yday=11, tm_isdst=-1)

# TIme Class

In [145]:
#time function without argument
my_time=datetime.time()
my_time

datetime.time(0, 0)

In [146]:
#with all arguments
my_time=datetime.time(hour=23,minute=50,second=40)
my_time

datetime.time(23, 50, 40)

In [147]:
#with only one argument
my_time=datetime.time(second=40)
my_time

datetime.time(0, 0, 40)

In [150]:
#min and max time
print("min time:",datetime.time.min)
print("max time:",datetime.time.max)

min time: 00:00:00
max time: 23:59:59.999999

In [155]:
today=datetime.datetime.today().time()
today

datetime.time(0, 25, 14, 557076)